/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #eee;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.link-button {
    background-color: transparent;
    border: none;
    color: #555;
    cursor: pointer;
    text-decoration: underline;
}

.register {
    margin-top: 20px;
}

.register a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}

.social-login {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-login button {
    width: 40px; /* 버튼 크기 */
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login img {
    width: 100%; /* 버튼 안에 이미지를 꽉 채움 */
    height: 100%;
    object-fit: cover; /* 이미지를 버튼 크기에 맞게 조정 */
}